body{
	
	background-color: #d3d3d3;
	font-family: helvetica, serif, arial;
	font-size: 14px;
	margin: 0px;
}

#header {
	background-color: #87cefa;
	margin: 10px;
	height: 90px;
	border-radius: 8px;
}

#navbar ul {
	padding: 5px;
	list-style-type: none;
	text-align: center;
	background-color: #87cefa;
	margin: 10px;
	border-radius: 8px;
}

#navbar ul li {
	display: inline;
}

#navbar ul li a {
	text-decoration: none;
	font-family: arial;
	padding: .2em 1em;
	color: #fff;
	background-color: #87cefa;
}

#navbar ul li a:hover {
	color: #000;
	background-color: #fff;
	border-radius: 8px;
}

.main {
	background-color: #e5e4d7;
	margin: 10px;
	margin-right: 320px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 8px;
	padding: 20px;
	font-size: 110%;
	clear: left;
}

.image {
	background-color: #e5e4d7;
	margin: 10px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	border-radius: 8px;
	padding: 10px;
	float: left;
	width: 1150px;
	height: 520px;
	clear: left;
}

.image:hover {
	opacity: 0.4;
}

.rightside {
	background-color: #e5e4d7;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 20px;
	font-size: 110%;
	float: right;
	width: 260px;
	border-radius: 8px;
	clear: right;
	/*text-align: center;*/
}

h1 {
	font-size: 120%;
	color: #dc143c;
}

p {
	font-size: 100%;
	color: #000000;
}


h2 {
	font-size: 120%;
	color: purple;
}

h3 {
	font-size: 250%;
	font-family: verdana, century gothic;
	text-align: center;
	color: #bc8f8f;
	margin: 0px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);


}

h1:hover {
	color: #696969;
}

h2:hover {
	color: #696969;
}

}
#footer {
	background-color: #87cefa;
	margin: 10px;
	height: 30px;
	border-radius: 8px;
	clear: both;
	font-size: 90%;
	text-align: center;
	padding: 15px;
	color: #ffffff;

}